html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Header and Hero section*/
.site-container {
  width: 960px;
}

header.top-bar {
  margin-top: 1rem;
  padding: 1rem;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
}

header figure {
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav span {
  margin-left: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 100%;
  background-image: url("../resources/photos/glasses-bg.png");
  background-size: cover;
}

.banner {
  width: 1050px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.banner h1 {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin: 10rem 1rem;
  padding: 1.5rem 5rem;
}

/*Main and article section*/

.icons.site-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles.site-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 8rem;
  margin: 3rem 3rem;
}

#paper {
  width: 3.5rem;
  height: auto;
}

#ruler,
#truck {
  width: 65%;
  height: auto;
}

main figure h1 {
  margin-top: 1rem;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
}

article {
  width: 35%;
  height: 12rem;
}

article h2 {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  margin-bottom: 1rem;
  width: 10rem;
}

article p {
  font-size: 1.2rem;
}


/*Footer section*/
footer .site-container {
  background-color: azure;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

footer figure {
  display: flex;
  align-items: center;
}
